html, body {
    background: linear-gradient(135deg, #ffdee9, #ffb3c6, #ffdde1);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    color: #222;
}
